# ---> Go
# Binaries for programs and plugins
*.exe
fiwes

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# img store
data
var

# config files
.env*